# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/Scene.js
src/components/SceneComponent.js
src/components/Project.js
src/components/Noise.js
src/components/Map.js
src/components/LineChart.js
src/components/OldProjects.js
src/components/SimpleShader.js
src/components/Graph3d.js
src/components/Graph3d.css
src/components/Player.js
src/components/CssDemo.js
src/components/CssDemo.css
src/components/AtmosphereShader.js
src/components/Example.js
src/components/dist/*
*.obj